.entry {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 0.5rem;
  margin: 10px 0;
}

.entry:hover,
.entry:focus-within {
  border-color: rgb(201, 161, 28);
}

.entryHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.entryPrimaryInfo {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: start;
}

.entryTitle {
  font-size: 1.1rem;
  font-weight: bolder;
  width: 100%;
  text-align: left;
}

.entrySubtitle {
  font-size: 0.9rem;
  font-weight: bold;
  width: 100%;
  text-align: left;
}

.entryLocationDate {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  width: 30%;
}

.entryLocationDate input,
.entryLocationDate span {
  font-size: 0.9rem;
  text-align: right;
  width: 100%;
}

.bulletSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bulletPoint {
  margin-left: 16px;
  margin-top: 5px;
  width: 98%;
}

.bulletPoint input,
.bulletPoint span {
  width: 100%;
  display: flex;
}
