input {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 2.5px 0;
}

input::placeholder {
  opacity: 0.7;
}

span {
  opacity: 1;
}

span:hover {
  cursor: text;
}

.placeholder {
  opacity: 0.5;
}
