input {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 2.7px 0px;
}

input::placeholder {
  opacity: 0.7;
}

span {
  opacity: 1;
  cursor: text;
}

.placeholder {
  opacity: 0.5;
}

span:hover,
input:focus {
  background-color: rgb(24, 24, 24);
  border-radius: 0.5rem;
}
